body,html{
  
    color: white;
}
.frontpage{
    color:white;
}

#inputForm{
    margin-top: 10px;
    border-radius: 25px;
    padding: 20px;
    background: white;
    
}


img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border:white solid 1px;
}

#myVideo {
    
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
  }




#contact{
    margin-top:40px;
    text-align: center;
}

.classes{
    color: white;
    list-style: none;
    text-align: center;
}

.content{
    color: white;
}
.content2{
    font-weight: 600;
    padding-top: 10%;
    text-align: center;
    color: white;
  
}
.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
hr {
    width: 800px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
